body {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 99vw;
    height: 98vh;

    box-sizing: border-box;

    background-color: #353434;
}

.player {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: max-content;
    height: 99%;

    box-sizing: border-box;
}

.board {
    display: flex;
    flex-direction: column;

    width: max-content;
    height: max-content;

    box-sizing: border-box;

    padding: 1rem;

    background-color: black;
}

.board > div {
    display: flex;
    flex-direction: row;
}

.square {
    width: 5rem;
    height: 5rem;

    margin: 0.25rem;

    background-color: white;
}

.square.occupied {
    background-color: darkgoldenrod;
}

.shipsContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 14rem;

    position: static;

    background-color: gray;
}

.ship {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 2rem;
    height: 2rem;

    position: relative;

    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);;
}

.ship.reversed.vertical {
    rotate: -90deg;
}

.ship.reversed {
    rotate: 180deg;
}

.ship.vertical {
    rotate: 90deg;
}

.ship.len3 {
    width: 3rem
}

.ship.len4 {
    width: 4rem
}

.ship.len5 {
    width: 5rem
}

.ship.len6 {
    width: 6rem
}

.ship.len7 {
    width: 7rem
}