::-webkit-scrollbar { display: none; }

:root {
    background-color: #353434;
}

html {
    font-size: 2em;
}

body {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    width: 99vw;
    height: fit-content;

    box-sizing: border-box;

    background-color: #353434;
    color: white;

    font-size: 1rem;
}

div.invalid {
    border: 1px solid red;
}

#gameSettings {
    width: 70vw;
    height: 90vh;

    overflow: scroll;
}

#gameSettingsForm {
    box-sizing: border-box;

    font-size: calc(1rem * (2 / 3));

    border: 5px solid black;

    padding: 2.5%;

    overflow: scroll;

    background-color: indianred;
    color: black;

    display: flex;
    flex-direction: column;

    align-items: stretch;

    /*display: grid;*/

    /*grid-template-columns: 50% 50%;*/
    /*!*column-gap: 1.333%;*!*/

    /*grid-template-rows: 5% 25% 70%;*/
    /*!*row-gap: 1.25%;*!*/

    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

#gameSettingsForm > div {
    box-sizing: border-box;

    background: goldenrod;
    padding: 1.5%;

    overflow: scroll;
}

#gameSettingsFormSubmit {
    /*grid-area: 1 / 1 / span 1 / span 2;*/

    height: 10%;

    font-size: 1rem;
}

#gameSettingsForm #formHeader {
    /*grid-area: 2 / 1 / span 1 / span 2;*/

    box-sizing: border-box;

    background: goldenrod;

    height: 30%;
    min-height: fit-content;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: stretch;
}

#gameSettingsForm #formHeader > div {
    box-sizing: border-box;

    padding: 3%;

    background: antiquewhite;
}

#gameSettingsForm #formHeader #inputsContainer {
    width: 50%;
    height: 100%;
    max-height: 100%;

    background: antiquewhite;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#gameSettingsForm #statsContainer {
    width: 50%;
    height: 100%;

    background: antiquewhite;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#gameSettingsForm #statsContainer > div {
    box-sizing: border-box;

    background: #b6aa9c;

    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#gameSettingsForm #shipLengths {
    /*grid-area: 3 / 1 / span 1 / span 2;*/
    box-sizing: border-box;

    max-height: 60%;

    display: flex;
    flex-direction: column;

    overflow: scroll;
}

#gameSettingsForm #shipLengths > div.shipSelect {
    /*grid-area: 3 / 1 / span 1 / span 2;*/
    box-sizing: border-box;

    padding: 1%;

    background: antiquewhite;

    margin-top: 1%;
    margin-bottom: 1%;

    display: flex;
    flex-direction: column;

    min-height: fit-content;

    overflow: scroll;
}

#gameSettingsForm #shipLengths > div.shipSelect:first-child {
    margin-top: 0%;
}

#gameSettingsForm #shipLengths > div.shipSelect:last-child {
    margin-bottom: 0%;
}

#gameSettingsForm #shipLengths > div.shipSelect > .checkContainer {
    /*grid-area: 3 / 1 / span 1 / span 2;*/
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    overflow: scroll;
}

#gameSettingsForm .rangeContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

#gameSettingsForm .rangeContainer > input {
    width: 80%;
}

#gameSettingsForm #playerCount {
    width: 80%;
}

#gameSettingsForm #boardLength {
    width: 80%;
}

.player {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: max-content;
    height: 99%;

    box-sizing: border-box;

    font-size: 0.2rem;
}

.board {
    display: flex;
    flex-direction: column;

    width: max-content;
    height: max-content;

    box-sizing: border-box;

    padding: 0.1rem;

    background-color: black;
}

.board > div {
    display: flex;
    flex-direction: row;
}

.row {
    background-color: black;
}

.square {
    width: 1rem;
    height: 1rem;

    margin: 0.1rem;

    background-color: white;
}

.square.highlighted {
    background-color: #cff000;
}

.square.invalidPlacement {
    background-color: #f35976;
}

.square.occupied.invalidPlacement {
    background-color: #760017;
}

.square.occupied {
    background-color: darkgoldenrod;
}

.square.defense.hit {
    background-color: maroon;
}

.square.defense.sunk {
    background-color: #353434;
}

.square.miss {
    background-color: blue;
}

.square.offense.sunk {
    background-color: #4D0218;
}

.square.offense.hit {
    background-color: #FFA1AD;
}

.square.offense.hit.q2 {
    background-color: #FF637E;
}

.square.offense.hit.q3 {
    background-color: #EC253F;
}

.square.offense.hit.q4 {
    background-color: #A50C36;
}

.square.offense.hit.q5 {
    background-color: #4D0218;
}

.shipsContainer {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 3rem;

    position: static;

    background-color: gray;

    font-size: 0.5rem;
}

.ship {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 3em;
    height: 1em;

    position: relative;

    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.ship.placeable {
    cursor: move;
}

.ship.reversed.vertical {
    rotate: -90deg;
}

.ship.reversed {
    rotate: 180deg;
}

.ship.vertical {
    rotate: 90deg;
}

.ship.len1 {
    width: 1em;

    background: linear-gradient(90deg, rgba(42, 155, 74, 1) 0%, rgba(153, 199, 87, 1) 50%, rgba(237, 83, 99, 1) 100%);
}

.ship.len2 {
    width: 2em;

    background: linear-gradient(90deg, rgba(42, 155, 130, 1) 0%, rgba(97, 199, 87, 1) 50%, rgba(237, 144, 83, 1) 100%);
}

.ship.len3 {
    width: 3em;

    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.ship.len4 {
    width: 4em;

    background: linear-gradient(90deg, rgba(42, 67, 155, 1) 0%, rgba(87, 199, 189, 1) 50%, rgba(176, 237, 83, 1) 100%);
}

.ship.len5 {
    width: 5em;

    background: linear-gradient(90deg, rgba(74, 42, 155, 1) 0%, rgba(87, 153, 199, 1) 50%, rgba(99, 237, 83, 1) 100%);
}

.ship.len6 {
    width: 6em;

    background: linear-gradient(90deg, rgba(130, 42, 155, 1) 0%, rgba(87, 97, 199, 1) 50%, rgba(83, 237, 144, 1) 100%);
}

.ship.len7 {
    width: 7em;

    background: linear-gradient(90deg, rgba(155, 42, 123, 1) 0%, rgba(133, 87, 199, 1) 50%, rgba(83, 237, 221, 1) 100%);
}

.ship.len8 {
    width: 8em;

    background: linear-gradient(90deg, rgba(155, 42, 67, 1) 0%, rgba(189, 87, 199, 1) 50%, rgba(83, 176, 237, 1) 100%);
}

.ship.len9 {
    width: 9em;

    background: linear-gradient(90deg, rgba(155, 74, 42, 1) 0%, rgba(199, 87, 153, 1) 50%, rgba(83, 99, 237, 1) 100%);
}

.ship.len10 {
    width: 10em;

    background: linear-gradient(90deg, rgba(155, 130, 42, 1) 0%, rgba(199, 87, 97, 1) 50%, rgba(144, 83, 237, 1) 100%);
}

.ship.len11 {
    width: 11em;

    background: linear-gradient(90deg, rgba(123, 155, 42, 1) 0%, rgba(199, 133, 87, 1) 50%, rgba(221, 83, 237, 1) 100%);
}

.ship.len12 {
    width: 12em;

    background: linear-gradient(90deg, rgba(67, 155, 42, 1) 0%, rgba(199, 189, 87, 1) 50%, rgba(237, 83, 176, 1) 100%);
}